<!-- templates/base_admin.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>{% block title %}Admin Dashboard{% endblock %}</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='admin-dashboard.css') }}">
</head>
<body>
    <div class="top-bar">
        <a href="{{ url_for('admin_logout') }}" class="logout-btn">
            <i class="fas fa-sign-out-alt"></i>
            Logout
        </a>
    </div>

    <div class="flash-container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div class="flash {{ category }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

    <nav class="sidebar">
        <div class="nav-group">
            <div class="nav-title">MAIN</div>
            <a href="{{ url_for('admin_dashboard') }}" class="nav-item {% if active_nav == 'dashboard' %}active{% endif %}">
                <i class="fas fa-tachometer-alt"></i>
                <span>Dashboard</span>
            </a>
            <a href="{{ url_for('admin_search') }}" class="nav-item {% if active_nav == 'search' %}active{% endif %}">
                <i class="fas fa-search"></i>
                <span>Budget Search</span>
            </a>
            <a href="{{url_for('admin_vehicles')}}" class="nav-item {% if active_nav == 'add-vehicle' %}active{% endif %}">
                <i class="fas fa-plus-circle"></i>
                <span> Vehicles</span>
            </a>
        </div>
        <div class="nav-group">
            <a href="{{ url_for('admin_predictions') }}" class="nav-item {% if active_nav == 'history' %}active{% endif %}">
                <i class="fas fa-history"></i>
                <span>History</span>
            </a>
            <a href="{{ url_for('admin_feedback') }}" class="nav-item {% if active_nav == 'feedback' %}active{% endif %}">
                <i class="fas fa-comment-dots"></i>
                <span>Feedback</span>
            </a>
        </div>
    </nav>

    <main class="main-content">
        {% block main_content %}{% endblock %}
    </main>
</body>
</html>
